/*

In your placeholder partial, create placeholders for at least the following:
Links
Images
Headlines
Nav items

*/



%center-align {
    text-align: center;
  }

%style-blockq {
    border-left: 7px solid $theme-color;
    margin:      1em em(7px) 0 em(7px);
    padding:     0 em(10px);
    
      font-weight: $font-weight--light;
      font-size: em(22.5px);
      font-family: font-family--secondary;
      font-style: italic;
   
    line-height: em(15px);
    letter-spacing: em(.05px);
   
  }

   // style container

%style-cont {
  font-size:     $base__font-size;
  font-family:   $font-family--primary;
  margin-top:    em(40px);
  margin-bottom: em(30px);
  color:         $text-color;
  padding-left:  em(25px);
  padding-right: em(25px);
}

%margin {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// link styling

%link-style {
    text-decoration: none;
    color:           $theme-color;
}

// HEADLINE-PRIMARY COLOR

%headline-p-color{
   color: $theme-color;
}


















